body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contener{
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 70%;
    margin: auto;
}

.divName{
background-color: #333F50;
margin: auto;
padding-top: 50px;
width: 100%;
padding-bottom: 15px;
text-align: center;
font-size: 30px;
font-weight: bold;
}
.Name{
color: #C45911;
font-size: 35px;
}
.Phone{
 font-size:20px ;
 color: white;
 text-decoration: none;
 display: block;
}
.Phone:hover{
   color: rgb(197, 195, 195);
   }
.Email{
 font-size:17px ; color: #5B9BD5; text-decoration: none;
 display: block;
}
.Email:hover{
    color: #4f80ae;
    }
.divCv{
    background-color: rgba(255, 255, 255, 0.877);
    margin: auto;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    
    }
    .img{
        border: 4px solid #333F50;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        text-align: center;
        margin-bottom: 15px;
      }
      .header{
        color: #C45911;
        font-weight: bold;
      }
     
      .mtable, td, th {
        border: 0px solid;
      }
      
      .mtable ,.divExperience,.divEducation,.header,.Languages,.divCourses,.divTechnical,.divPersonal,.divProjects{
        text-align: start;
        margin-left: 70px;
      }
      .hr1{
       margin: auto;
        height:1px;
        width:90%; 
        background-color:#333F50;
        opacity: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    
      .date{
        font-size: 12px;
        color: #767171;
        font-weight: bold;
        text-align: start;
        margin: auto;
      }
      .Font{
        font-size: 13px;
        color: #333F50;
        font-weight:650 ;
      }
  .hr2{
    border-left:1px #333F50 solid ;
  }
  .aa{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: #5B9BD5;
    display: inline;
    position: absolute;
    margin-top: -20px;
    font-weight: 500;
    opacity:100% ;
  }
  .progress{
    display: inline-flex;
     width: 70%;
    --bs-progress-height: 7px;
    --bs-progress-bar-bg: #ca611b;
    --bs-progress-bg: #e3e3e4;
    margin-left: 5px;

  }
  .tables {
    width: 100%;
    font-size: 12px;
  }
  
  .tables td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 1px;
  }
  
  .tables  td:nth-child(odd) {
    text-align: right;
    width:20%;
  }
  .links{
    color: #5B9BD5;  text-decoration: none;font-weight: 500;
  }

      @media screen and (max-width: 768px) {
        .contener{width: 100%;}
        .divCv{width: 100%;}
        .divImage{order: 1;}
        .divPersonalInformation{order: 2;}
        .mtable ,.divExperience, .header,.divEducation,.Languages,.divCourses,.divTechnical,.divPersonal,.divProjects{margin-left: 30px; }
        .hr1,.hr2{ border-left:none;}  
      }  
     /*  .con{
        width: 40px;
        top: 230px;
        right: 0;
        margin-right: 10px;
        position: fixed;
        background-color: #333f503f;
        height: 200px;
        border-radius: 20px;

      } */